@page {
    size: 8.5in 11in;
    margin: 1.75in;
}

body {
    font-family: "Operator SSm";
    font-size: 12pt;
    font-weight:300;
    line-height: 1.6;
    margin:3em auto;

    page: pages;
    prince-page-group: start;
    
}
strong {
    font-weight:400;
}

@page pages {
    /* Page Numbers */
    @bottom-right-corner {
        content: counter(page)".";
        font: 9pt "Operator SSm";
    }
}

/* General Typography
--------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-weight:300;
    margin: 0;
}
h1 {
    font-size:2em;
    font-weight: 200;
    margin: 0 0 1em 0;
    font-style:italic;
}
h2 {
    font-size:1em;
    font-weight:400;
    margin: 1.5em 0;
	text-transform: uppercase;
	letter-spacing: .1em;
}
h3 {
    font-size:1em;
    font-style: italic;
    margin: 1.5em 0;
}

hr {
    border:none;
    margin: 2em;
}

p {
    orphans: 2;
    widows: 2;
    white-space: normal;
}

p + p {
	margin-top: -1em;
	text-indent: 1em;
}
blockquote p+p {
	margin-top: 0;
	text-indent: 0;
}

ul, ol {
    margin: 0;
    padding-left:1.25em;
}

ul li { list-style:none; text-indent: -1em; }
ul li:before { content: '\2022\2002';}

li p:first-child {
    margin-bottom:1em;
}
li p:first-child + p {
    text-indent: 0;
}

blockquote {
    padding: 0 2em;
    margin: 0;
    font-style: italic;
}

sub {
font-size:1em;
vertical-align:baseline;
font-family: "Operator SSm";
text-transform: uppercase;
}

code {
    font-family: "Operator Mono";
    font-size: 10pt;
    line-height: 11pt;
}
pre {line-height: 8pt;}

