@page {
    size: 8.5in 11in;
    margin: 1.75in;
}

body {
    font-family: "Equity Text B";
    font-size: 10pt;
    line-height: 1.4;
    margin:3em auto;

    page: pages;
    prince-page-group: start;
    
}

@page pages {
    /* Page Numbers */
    @bottom-right-corner {
        content: counter(page)".";
        font: 9pt "Equity Text B";
    }
}

/* General Typography
--------------------------------------------------------------------------- */


h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
    margin: 0;
}
h1 {
    font-size:2em;
    margin: 0 0 1em 0;
    font-style:italic;
}
h2 {
    font-size:1em;
    margin: 1.5em 0;
	font-family: "Equity Caps B";
	text-transform: lowercase;
	letter-spacing: .1em;
    border-bottom: 0.5pt solid #999;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
h3 {
    font-size:1em;
    font-style: italic;
    margin: 1.5em 0;
}

hr {
    border:none;
    margin: 2em;
}

p {
    orphans: 2;
    widows: 2;
    white-space: normal;
}

p + p {
	margin-top: -1em;
	text-indent: 1em;
}
blockquote p+p {
	margin-top: 0;
	text-indent: 0;
}

ul, ol {
    margin: 0;
    padding-left:1.25em;
}

ul li { list-style:none; text-indent: -1em; }
ul li:before { content: '\2022\2002';}

li p:first-child {
    margin-bottom:1em;
}
li p:first-child + p {
    text-indent: 0;
}

blockquote {
    padding: 0 2em;
    margin: 0;
    font-style: italic;
}

sub {
font-size:1em;
vertical-align:baseline;
font-family: "Equity Caps B";
text-transform: lowercase;
}

code {
    font-family: "PragmataPro";
    font-size: 8pt;
    line-height: 10pt;
}
pre {line-height: 8pt;}
