/* Page Layout
--------------------------------------------------------------------------- */
@page {
    size: 8.5in 11in;
    margin: 1in 1.75in;
}

body {
    page: pages;
    prince-page-group: start;
}

@page pages {
    /* Page Numbers */
    @bottom-right-corner {
        content: counter(page)".";
        font: 10pt "Alegreya";
    }
}

/* General Typography
--------------------------------------------------------------------------- */

body {
    font-family: "Alegreya";
    font-size: 10pt;
    line-height: 1.4;
    margin:3em auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
    margin: 0;
}

h1 {
    font-size:2.5em;
    margin: 0 0 1em 0;
    font-style: italic;
    font-weight: 200;
    line-height: 1.1em;
}

h2 {
    font-size:1.25em;
    font-family: "Alegreya SC";
    font-weight: normal;
	letter-spacing: .1em;
    border-bottom: 0.5pt solid #ddd;
    margin: 2em 0 1.25em 0;
    padding-bottom: .25em;
}

h3 {
    font-size:1em;
    font-family: "Alegreya";
    font-style: italic;
	margin: 1em 0;
}

h3:before { content: ''; }
h3:after  { content: ''; }

/* TODO: this should get turned into page-break */
hr {
    border:none;
    margin: 2em;
}

p {
    orphans: 2;
    widows: 2;
    white-space: normal;
}

span.sc, span.topic {
    font-family: "Alegreya SC";
    letter-spacing: .05em;
}

p + p {
    text-indent: 2em;
    margin-top: -1.1em; /* same as body line-height */
}

p + p span.topic {
    margin-left: -2em;
}

p + p span.topic:before {
    content: '\a';
    white-space: pre;
}

blockquote p+p {
	margin-top: 0;
	text-indent: 0;
}

li p {
	margin:0 0 1em 0;
}

ul, ol {
    margin: 0 0 1em 0;
    padding-left:1.25em;
    orphans: 2;
    widows: 2;
}

ol ol, ul ul {
	margin: 1em 0;
}

li p + p {
	margin: 1em 0;
}

blockquote {
    padding: 0 2em;
    margin: 0;
    orphans: 2;
    widows: 2;
}

code {
    font-family: "PragmataPro";
    font-size: 8pt;
}
